bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
programacaoII_back-end/appsettings.json
programacaoII_back-end/appsettings.Development.json
.idea/
.history/
global.json
programacaoII_back-end.sln